<%- include('../partials/head') %>

<div class="container">

<h2>Deposit Funds</h2>

<form>

<label>Select Deposit Method</label>

<select>

<option>Bitcoin</option>
<option>Ethereum</option>
<option>USDT</option>

<option>PayPal</option>
<option>CashApp</option>
<option>Venmo</option>
<option>Zelle</option>

<option>UPI (India)</option>
<option>Paytm</option>

<option>STC Pay</option>

</select>

<label>Amount</label>
<input type="number">

<button>Proceed</button>

</form>

</div>