<!DOCTYPE html>
<html>
<head>
    <title>Investment Landing</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="hero">

    <h1>
        The best time to invest was 2009. <br>
        <span>The second best time is now.</span>
    </h1>

    <div class="chart-box">
        <canvas id="myChart"></canvas>
    </div>

</div>

<script src="/js/chart.js"></script>

</body>
</html>